<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancellation Policy</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon.jpeg">
</head>
<body>
    <div class="preloader"></div>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><p><b><em>Outset life Pet Adoption</em></b></p></div>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="Adoptapet.html">Adopt a Pet</a></li>
                <li><a href="http://localhost:8080/">Vet Consultation</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
    </nav> 
    <div class="cancellation1">
        <h1>CANCELLATION POLICIES</h1><br>
        <div class="cancellation2">
            <h2><u>Grooming Service Cancellation Policies</u></h2><br>
            <p>We offer a full money-back guarantee for all services purchased on our website with 24 hours of the service. If you are not satisfied with the service that you have purchased from us, you can get your money back no questions asked. You are eligible for a full reimbursement within 24 hours of service.</p><br><p>After the 24 hours period you will no longer be eligible and won't be able to receive a refund. We encourage our customers to report any kind of dissatisfaction with the grooming service within 24 hours.</p><br><p>If you have any additional questions or would like to request a refund, feel free to contact us.</p>
        </div>
    </div>
    <div class="footer1">
        <div class="f1">
            <span class="f2">Pet Adoption</span>
            <span class="f3"><a href="support.html">Support</a></span>
            <span class="f3"><a href="http://localhost:9000/">Report Animal Abuse</a></span>
        </div>
        <div class="f1">
            <span class="f2">Home Services</span>
            <span class="f3"><a href="http://localhost:7070/">Dog Walking</a></span>
            <span class="f3"><a href="http://localhost:7000/">Pet Training</a></span>
            <span class="f3"><a href="http://localhost:8080/">Home Vet visit</a></span>
        </div>
        <div class="f1">
            <span class="f2">&nbsp;&nbsp;&nbsp;Policy</span>
            <span class="f3"><a href="PrivacyPolicies.html">Privacy Policy</a></span>
            <span class="f3"><a href="cancellation.html">Cancellation Policy</a></span>
            <span class="f3"><a href="terms&condition.html">Terms & Conditions</a></span>
        </div>
    </div>
    <div class="ff1">
        <p>&copy;Uttar Pradesh,India</p>
     </div> 
     <script>

        var loader= document.getElementById('preloader');

        window.addEventListener("load",function(){
            loader.style.display="none";
        })
        

    </script>
</body>
</html>