<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
    <link rel="icon" type="image/x-icon" href="favicon.jpeg">
    <link rel="stylesheet" href="style.css">
    <script src="java.js"></script>
</head>
<body>
    <div class="preloader"></div>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><p><b><em>Outset life Pet Adoption</em></b></p></div>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="Adoptapet.html">Adopt a Pet</a></li>
                <li><a href="http://localhost:8080/">Vet Consultation</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
    </nav> 
    <h1 style="text-align: center; margin-top: 20px; color: rgb(71, 71, 71); font-size: 50px;" >Breeds Of Cats</h1>
    <div class="cat_breeds" style=" color: aliceblue;">
        <div class="brd1">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">American Shorthair
                </h1>
            </div>
            <img src="americanshorthair.jpg" alt="American Shorthair
            ">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;8”-10” (20-25 cm)
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;	11-15 lbs (5-7 kg)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;	 6-12 lbs (2.75-5.5kg)
                <br>
                <br>
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;	brown-patched tabby
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;	brown-patched tabby to the blue-eyed white, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the silvers to the calico van
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	15-20 years
                <br>
                <br>
                <div class="brdd">
                    <h4 style="text-align: center;color: aliceblue;">Cat (domestic cat)</h2>
               </div>
            </p>
            <button class="brdd1" id="breed11" value="American Shorthair" onclick="click111()" >Select</button>
        </div>
        <div class="brd1">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Scottish Fold</h1>
            </div>
            <img src="330px-Adult_Scottish_Fold.jpg" alt="Scottish Fold">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;		8 to 10 inches
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;	4–6 kg (8.8–13.2 lb)
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;		white, black, blue, red, cream, blue-silver, or blue-cream
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;	thick and soft fur, with longhair Folds
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	14 to 16 years
                <br>
                <br>
                <div class="brdd" id="breed211">
                    <h4 style="text-align: center;color: aliceblue;">Cat (domestic Cat)</h2>
               </div>
            </p>
            <button onclick="click121()" class="brdd1" id="breed21" value="Scottish Fold">Select</button>
        </div>
        <div class="brd1">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Bombay Cat</h1>
            </div>
            <img src="Bombay_femelle.JPG" alt="Bombay Cat">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;		9 to 13 inches
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;	  6 to 10 pounds
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;		bright orange to warm golden.
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;	 Short, dense and shiny, tight to the body, with a lacquered sheen
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	15-20 years
                <br>
                <br>
                <div class="brdd" id="breed311">
                    <h4 style="text-align: center;color: aliceblue;">Cat (domestic Cat)</h2>
               </div>
            </p>
            <button onclick="click131()" value="Bombay Cat" class="brdd1" id="breed31">Select</button>
        </div>
        <div class="brd2">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">British Shorthair</h1>
            </div>
            <img src="330px-Britishblue.jpg" alt="British Shorthair">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;12 to 14 inches
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;	9–17 lb (4.1–7.7 kg)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;			 7–12 lb (3.2–5.4 kg)
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;		 	Black, blue, white, red, cream, silver, golden
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;	woolly or fluffy, with a firm
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp; 12-20 years
                <br>
                <br>
                <div class="brdd" id="breed411">
                    <h4 style="text-align: center;color: aliceblue;">Cat (domestic Cat)</h2>
               </div>
            </p>
            <button onclick="click141()" value="British Shorthair" class="brdd1" id="breed41">Select</button>
        </div>
        <div class="brd2">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Abyssinian</h1>
            </div>
            <img src="abyss.jpg" alt="Abyssinian">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;8–10 in (20–25 cm)
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp; 8–12 lb (3.6–5.4 kg)
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;			warm deep reddish-brown base with black ticking
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;		short, and is ideally fine, not soft, dense, close-lying and silky to the touch
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;average 9–15 years
                <br>
                <br>
                <div class="brdd" style="margin-top: 20px;">
                    <h4 style="text-align: center;color: aliceblue;">Cat (domestic Cat)</h2>
               </div>
            </p>
            <button onclick="click151()" value="Abyssinian" class="brdd1" id="breed51">Select</button>
        </div>
        <div class="brd2">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">American Curl</h1>
            </div>
            <img src="330px-American_curl_2.jpg" alt="American Curl">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;		9 to 12 inches
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;	 5–10 lb (3.2–4.5 kg).
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;		brown, white, black, blue, red, cream, chocolate, lilac, silver or golden
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;	soft, silky coats  
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	7-8 years
                <br>
                <br>
                <div class="brdd" style="margin-top: 65px;">
                    <h4 style="text-align: center;color: aliceblue;" id="breed611">Cat (domestic Cat)</h2>
               </div>
            </p>
            <button onclick="click161()" value="American Curl" class="brdd1"  id="breed61">Select</button>
        </div>
        
        <div class="su7" style="color: aquamarine;">
            <button onclick="click18()">Submit</button>
        </div>
        <div class="su17" style="color: aquamarine;">
            <button onclick="click17()">Reset</button>
        </div>
        
    </div>
    <div class="footer5">
        <div class="f1">
            <span class="f2">Pet Adoption</span>
            <span class="f3"><a href="support.html">Support</a></span>
            
            <span class="f3"><a href="http://localhost:9000/">Report Animal Abuse</a></span>
        </div>
        <div class="f1">
            <span class="f2">Home Services</span>
            <span class="f3"><a href="http://localhost:7070/">Dog Walking</a></span>
            <span class="f3"><a href="http://localhost:7000/">Pet Training</a></span>
            <span class="f3"><a href="http://localhost:8080/">Home Vet visit</a></span>
        </div>
        <div class="f1">
            <span class="f2">&nbsp;&nbsp;&nbsp;Policy</span>
            <span class="f3"><a href="PrivacyPolicies.html">Privacy Policy</a></span>
            <span class="f3"><a href="cancellation.html">Cancellation Policy</a></span>
            <span class="f3"><a href="terms&condition.html">Terms & Conditions</a></span>
        </div>
    </div>
    <div class="ff">
       <p>&copy;Uttar Pradesh,India</p>
    </div>
    <script>

        var loader= document.getElementById('preloader');

        window.addEventListener("load",function(){
            loader.style.display="none";
        })
        

    </script>
</body>
</html>