<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs</title>
    <link rel="icon" type="image/x-icon" href="favicon.jpeg">
    <link rel="stylesheet" href="style.css">
    <script src="java.js"></script>
</head>
<body>
    <div class="preloader"></div>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><p><b><em>Outset life Pet Adoption</em></b></p></div>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="Adoptapet.html">Adopt a Pet</a></li>
                <li><a href="http://localhost:8080/">Vet Consultation</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
    </nav> 
    <h1 style="text-align: center; margin-top: 20px; color: rgb(71, 71, 71); font-size: 50px;" >Breeds Of Dogs</h1>
    <div class="dog_breeds" style=" color: aliceblue;">
        <div class="brd1">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Beagle</h1>
            </div>
            <img src="beagle.jpg" alt="beagle">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;13-16 in (33-41 cm)
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;	22-25 lb (10.0-11.3 kg)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;	20-23 lb (9.1-10.4 kg)
                <br>
                <br>
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;	Tricolor or white in combination with black & &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tan/brown or brown/tan or yellow/white
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;	Short haired, hard coat of medium length
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	12-15 years
                <br>
                <br>
                <div class="brdd">
                    <h4 style="text-align: center;color: aliceblue;">Dog (domestic dog)</h2>
               </div>
            </p>
            <button class="brdd1" id="breed1" onclick="click11()" >Select</button>
        </div>
        <div class="brd1">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Golden Retriever</h1>
            </div>
            <img src="Golden_Retriever.jpg" alt="Golden Retriever">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;		56-61 cm (22-24 in)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;		51-56 cm (20-22 in)
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;	25-34 kg (55-75 lb)
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;		Any shade of gold or cream
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;	Flat or wavy double coat with good feathering, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  dense water-resistant undercoat
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	12-13 years
                <br>
                <br>
                <div class="brdd">
                    <h4 style="text-align: center;color: aliceblue;">Dog (domestic dog)</h2>
               </div>
            </p>
            <button onclick="click12()" class="brdd1" id="breed2">Select</button>
        </div>
        <div class="brd1">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Pug</h1>
            </div>
            <img src="Pug_.jpg" alt="Pug">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;		30-36 cm 
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;		25-30 cm
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;	 14 and 18 pounds (6.3 and 8.1 kg)
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;		 fawn-colored
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;	smooth and glossy coats can be fawn, apricot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fawn, silver fawn, or black
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	12-13 years
                <br>
                <br>
                <div class="brdd">
                    <h4 style="text-align: center;color: aliceblue;">Dog (domestic dog)</h2>
               </div>
            </p>
            <button onclick="click13()" class="brdd1" id="breed3">Select</button>
        </div>
        <div class="brd2">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Labrador</h1>
            </div>
            <img src="Labrador.jpg" alt="Labrador">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;		56–57 cm (22–22.5 in)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;		54–56 cm (21.5–22 in)
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;	29–36 kg (65–80 lb)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;			25–32 kg (55–70 lb)
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;		 	Black, chocolate, or yellow (ranges from pale &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;yellow to fox red)
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;		Short, dense, weather-resistant double coat
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp; 13 years
                <br>
                <br>
                <div class="brdd">
                    <h4 style="text-align: center;color: aliceblue;">Dog (domestic dog)</h2>
               </div>
            </p>
            <button onclick="click14()" class="brdd1" id="breed4">Select</button>
        </div>
        <div class="brd2">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Boxer</h1>
            </div>
            <img src="Boxer.jpg" alt="Boxer">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;		56–64 cm (22–25 in)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;		53–61 cm (21–24 in)
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;		30–32 kg (66–70 lb)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;				25–27 kg (55–60 lb)
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;			fawn or brindle, and white
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;		short, shiny, smooth, close-lying
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;average 9–15 years
                <br>
                <br>
                <div class="brdd" style="margin-top: 20px;">
                    <h4 style="text-align: center;color: aliceblue;">Dog (domestic dog)</h2>
               </div>
            </p>
            <button onclick="click15()" class="brdd1" id="breed5">Select</button>
        </div>
        <div class="brd2">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Bulldog</h1>
            </div>
            <img src="Bulldog_inglese.jpg" alt="Bulldog">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;		31-40 cm
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;	 40–55 lb (18–25 kg).
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;		red, fawn, white.
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;	fine, and the hair is straight 
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	7-8 years
                <br>
                <br>
                <div class="brdd" style="margin-top: 65px;">
                    <h4 style="text-align: center;color: aliceblue;">Dog (domestic dog)</h2>
               </div>
            </p>
            <button onclick="click16()" class="brdd1"  id="breed6">Select</button>
        </div>
        <div class="su" style="color: aquamarine;">
            <button onclick="click18()">Submit</button>
        </div>
        <div class="su1" style="color: aquamarine;">
            <button onclick="click17()">Reset</button>
        </div>
        <div class="su2">
            <a href="Dogs2.html" class="arrow1">Next</a>
        </div>
        
    </div>
    <div class="footer5">
        <div class="f1">
            <span class="f2">Pet Adoption</span>
            <span class="f3"><a href="support.html">Support</a></span>
            
            <span class="f3"><a href="http://localhost:9000/">Report Animal Abuse</a></span>
        </div>
        <div class="f1">
            <span class="f2">Home Services</span>
            <span class="f3"><a href="http://localhost:7070/">Dog Walking</a></span>
            <span class="f3"><a href="http://localhost:7000/">Pet Training</a></span>
            <span class="f3"><a href="http://localhost:8080/">Home Vet visit</a></span>
        </div>
        <div class="f1">
            <span class="f2">&nbsp;&nbsp;&nbsp;Policy</span>
            <span class="f3"><a href="PrivacyPolicies.html">Privacy Policy</a></span>
            <span class="f3"><a href="cancellation.html">Cancellation Policy</a></span>
            <span class="f3"><a href="terms&condition.html">Terms & Conditions</a></span>
        </div>
    </div>
    <div class="ff">
       <p>&copy;Uttar Pradesh,India</p>
    </div>
    <script>

        var loader= document.getElementById('preloader');

        window.addEventListener("load",function(){
            loader.style.display="none";
        })
        

    </script>
</body>
</html>