<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dogs</title>
    <link rel="icon" type="image/x-icon" href="favicon.jpeg">
    <link rel="stylesheet" href="style.css">
    <script src="java.js"></script>
</head>
<body >
    <div class="preloader"></div>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><p><b><em>Outset life Pet Adoption</em></b></p></div>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="Adoptapet.html">Adopt a Pet</a></li>
                <li><a href="http://localhost:8080/">Vet Consultation</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
    </nav> 
    <h1 style="text-align: center; margin-top: 20px; color: rgb(71, 71, 71); font-size: 50px;" >Breeds Of Dogs</h1>
    <div class="dog_breeds" style=" color: aliceblue;">
        <div class="brd1">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">German Shepherd</h1>
            </div>
            <img src="German_Shepherd_.jpg" alt="German Shepherd">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;60–65 cm (24–26 in)
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;	30–40 kg (66–88 lb)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;	22–32 kg (49–71 lb)
                <br>
                <br>
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;Tan with black saddle, sable, solid black or bi-colour
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;		Double coat
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	10 years or more
                <br>
                <br>
                <div class="brdd">
                    <h4 style="text-align: center;color: aliceblue;">Dog (domestic dog)</h2>
               </div>
            </p>
            <button class="brdd1" id="breed7" onclick="click19()" >Select</button>
        </div>
        <div class="brd3">
            <div class="brdd">
                <h1 style="text-align: center; color: aliceblue;">Dobermann</h1>
            </div>
            <img src="Dobermann_handling.jpg" alt="Dobermann">
            <div class="brdd">
                 <h2 style="text-align: center;color: aliceblue;">Traits</h2>
            </div>
            <p>
                <b style="color: aliceblue;">Height:</b>&nbsp;&nbsp;&nbsp;Males&nbsp;&nbsp;&nbsp;		68 to 72 cm (27 to 28 in)
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  	Females&nbsp;&nbsp;&nbsp;			63 to 68 cm (25 to 27 in)
                <br>
                <br>
                <b style="color: aliceblue;">Weight:</b>&nbsp;&nbsp;&nbsp;	40–45 kg (88–99 lb)
                <br>
                <br>
                
                <b style="color: aliceblue;">Colour:</b>&nbsp;&nbsp;&nbsp;			black & tan, red & tan
                <br>
                <br>
                <b style="color: aliceblue;">Coat:</b>&nbsp;&nbsp;&nbsp;		short
                <br>
                <br>
                <b style="color: aliceblue;">Life Span:</b>&nbsp;&nbsp;&nbsp;	9–12 years
                <br>
                <br>
                <div class="brdd">
                    <h4 style="text-align: center;color: aliceblue;">Dog (domestic dog)</h2>
               </div>
            </p>
            <button onclick="click20()" class="brdd1" id="breed8">Select</button>
        </div>
              
        <div class="su11" style="color: aquamarine;">
            <button onclick="click18()">Submit</button>
        </div>
        <div class="su12" style="color: aquamarine;">
            <button onclick="click17()">Reset</button>
        </div>
        <div class="su13">
            <a href="Dogs.html" class="arrow1">Previous</a>
        </div>
    </div>
    <div class="footer7">
        <div class="f1">
            <span class="f2">Pet Adoption</span>
            <span class="f3"><a href="support.html">Support</a></span>
            
            <span class="f3"><a href="http://localhost:9000/">Report Animal Abuse</a></span>
        </div>
        <div class="f1">
            <span class="f2">Home Services</span>
            <span class="f3"><a href="http://localhost:7070/">Dog Walking</a></span>
            <span class="f3"><a href="http://localhost:7000/">Pet Training</a></span>
            <span class="f3"><a href="http://localhost:8080/">Home Vet visit</a></span>
        </div>
        <div class="f1">
            <span class="f2">&nbsp;&nbsp;&nbsp;Policy</span>
            <span class="f3"><a href="PrivacyPolicies.html">Privacy Policy</a></span>
            <span class="f3"><a href="cancellation.html">Cancellation Policy</a></span>
            <span class="f3"><a href="terms&condition.html">Terms & Conditions</a></span>
        </div>
    </div>
    <div class="ff">
       <p>&copy;Uttar Pradesh,India</p>
    </div>
    <script>

        var loader= document.getElementById('preloader');

        window.addEventListener("load",function(){
            loader.style.display="none";
        })
        

    </script>
</body>
</html>