<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="favicon.jpeg">
</head>
<body>
    <div class="preloader"></div>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><p><b><em>Outset life Pet Adoption</em></b></p></div>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="Adoptapet.html">Adopt a Pet</a></li>
                <li><a href="http://localhost:8080/">Vet Consultation</a></li>
                <li><a href="contact.html">Contact Us</a></li>
               
            </ul>
        </div>
    </nav> 
    <div class="cancellation1" style="margin-bottom: 70px; margin-right: 200px ;">
        <h1>TERMS & CONDITIONS</h1><br>
        <div class="cancellation2" >
            <p>Your use of the Platform and services and tools are governed by the following terms and conditions ("Terms of Use") as applicable to the Platform including the applicable policies which are incorporated herein by way of reference. It shall be deemed that by accessing, browsing, visiting, or transacting in whatsoever nature / way on the Platform, you unconditionally accept all the Terms of Use and Privacy Policy applicable to the platform specified therein. If you access, browse, visit, or transact in whatsoever nature / way on the Platform, you shall be subject to the policies that are applicable to the Platform for such transaction. By mere use of the Platform, you shall be contracting with Online Private Limited and these terms and conditions including the policies constitute your binding obligations, with us.<br><br>

                For the purpose of these Terms of Use, wherever the context so requires "You" or "User" shall mean any natural or legal person who has agreed to become a buyer on the Platform by providing Registration Data while registering on the Platform as Registered User using the computer systems.It allows the User to surf the Platform or making purchases without registering on the Platform. The term "We", "Us", "Our" shall mean  Online Private Limited.
                <br><br>
                When you use any of the services provided by us through the Platform, including but not limited to, (e.g. Product Reviews, Seller Reviews), you will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of this Terms of Use. We reserve the right, at our sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time without any prior written notice to you. It is your responsibility to review these Terms of Use periodically for updates / changes. Your continued use of the Platform following the posting of changes will mean that you accept and agree to the revisions. As long as you comply with these Terms of Use, we grant you a personal, non-exclusive, non-transferable, limited privilege to enter and use the Platform.
                <br><br>
                Accessing, browsing or otherwise using the site indicates your agreement to all the terms and conditions under these terms of use, so please read the terms of use carefully before proceeding. By impliedly or expressly accepting these Terms of Use, you also accept and agree to be bound by Policies (including but not limited to Privacy Policy available at the platform) as amended from time to time.</p>
        </div>
    </div>
    <div class="footer">
        <div class="f1">
            <span class="f2">Pet Adoption</span>
            <span class="f3"><a href="support.html">Support</a></span>
            
            <span class="f3"><a href="http://localhost:9000/">Report Animal Abuse</a></span>
        </div>
        <div class="f1">
            <span class="f2">Home Services</span>
            <span class="f3"><a href="http://localhost:7070/">Dog Walking</a></span>
            <span class="f3"><a href="http://localhost:7000/">Pet Training</a></span>
            <span class="f3"><a href="http://localhost:8080/">Home Vet visit</a></span>
        </div>
        <div class="f1">
            <span class="f2">&nbsp;&nbsp;&nbsp;Policy</span>
            <span class="f3"><a href="PrivacyPolicies.html">Privacy Policy</a></span>
            <span class="f3"><a href="cancellation.html">Cancellation Policy</a></span>
            <span class="f3"><a href="terms&condition.html">Terms & Conditions</a></span>
        </div>
    </div>
    <div class="ff">
       <p>&copy;Uttar Pradesh,India</p>
    </div>
    <script>

        var loader= document.getElementById('preloader');

        window.addEventListener("load",function(){
            loader.style.display="none";
        })
        

    </script>
</body>
</html>